@for $i from 18 through 80 {
    .u-font-#{$i} {
      font-size: #{$i}rpx !important;
    }
  }
  @for $i from 10 through 160 {
    .u-ml-#{$i} {
      margin-left: #{$i}rpx !important;
    }
    .u-mt-#{$i} {
      margin-top: #{$i}rpx !important;
    }
    .u-mb-#{$i} {
      margin-bottom: #{$i}rpx !important;
    }
    .u-mr-#{$i} {
      margin-right: #{$i}rpx !important;
    }
    .u-mx-#{$i} {
      margin: 0 #{$i}rpx !important;
    }
    .u-my-#{$i} {
      margin: #{$i}rpx 0 !important;
    }
    .u-pl-#{$i} {
      padding-left: #{$i}rpx !important;
    }
    .u-pt-#{$i} {
      padding-top: #{$i}rpx !important;
    }
    .u-pb-#{$i} {
      padding-bottom: #{$i}rpx !important;
    }
    .u-pr-#{$i} {
      padding-right: #{$i}rpx !important;
    }
    .u-px-#{$i} {
      padding: 0 #{$i}rpx !important;
    }
    .u-py-#{$i} {
      padding: #{$i}rpx 0 !important;
    }
  }
  
  // 隐藏scroll-view的滚动条
  ::-webkit-scrollbar {
      display: none;  
      width: 0 !important;  
      height: 0 !important;  
      -webkit-appearance: none;  
      background: transparent;  
  }
  
  uni-app .uni-input-input, uni-app .uni-textarea-textarea {
    caret-color: #121212 !important;
  }